     <center>
     <%= image_tag(@product.photos.first.url, height: '200', width: '200') %>
      </center>
      <center><h1><%= @product.name %></h1></center>
      <p><%= sanitize @product.description %></p>

 
    
  
