<style>
#footer {
  width: 100%;
  height: 280px;
  background: 
  /* color overlay */ 
    linear-gradient(
      rgba(240, 212, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* image to overlay */
     linear-gradient( rgb(255, 144, 0), rgba(0, 0, 0, 0.92) ), 
     url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg)
}

/* Custom footer CSS
—------------------------------------------------ */


.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.footertext {
  color: #ffffff;
}
.img-circle {
  height: 60px;
  width: 60px;
}
</style>
<div id="footer">
    <div class="container">
        <div class="row">
              <div class="col-md-4">
                <center>
                  <img src="https://petcare.ua/upload/interest/ru/2015-11-10/tn_7_interesnih_faktov_kotorie_vam_nugno_znat_pregde_chem_kupit_mopsa_5641de881b02a.jpg" class="img-circle" alt="the-brains">
                  <br>
                  <h4 class="footertext">Animal</h4>
                  <p class="footertext">We have a large number of different pet pets<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Why us?</h4>
                  <p class="footertext">Here you can sell or buy not only a dog or a cat)))<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="https://st3.depositphotos.com/4297405/12911/v/950/depositphotos_129115554-stock-illustration-icon-pictogram-prohibited-board-ideal.jpg" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">No mockery</h4>
                  <p class="footertext">We are against mockery of animals, they are our friends!<br>
                </center>
              </div>
            </div>
            <div class="row">
            <p>
              <center>
                <h3><p class="footertext">ZALIK 2018</p></h3>
              </center>
            </p>
        </div>
    </div>
</div>