
<% if current_user.nil? %>
<li>
<%= link_to user_session_path do %></p> Login
<% end %>
</li>
<% else %>
<li>
<%= link_to destroy_user_session_path, method: :delete do %> Logout
<% end %>
</li>
<% end %>
</ul>
</div>
</nav>